.Blog{
    margin-top: 100px;
}
.Blog .title{
    font-size: 18px;
    font-weight: 200;
}
.Blog ul{
    list-style: none;
    width: 600px;
    margin: 0 auto;
}
.Blog li{
    list-style: none;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom:30px;
    border-bottom:1px solid #e6e6e6;
    height: 20px;
    line-height: 20px;
    text-align: left;
}
.Blog li span:first-child{
    float: left;
    font-size: 14px;
    color: #999;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
}
.Blog li span:last-child{
    margin-left:20px;
    font-size: 20px;
    color: #444;
    font-weight: 200;
    letter-spacing: 1px;
}