body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
    background: url('./images/cloud.png');
}
.App {
    text-align: center;
    min-height: 900px;
    background-size: 100%;
    background-position: center top;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
.App .wrap{
    width: 300px;
    position: absolute;
    width: 320px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
